[submodule ".local/share/nvim/site/pack/plugins/start/diagnostic-nvim"]
	path = .local/share/nvim/site/pack/plugins/start/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/completion-nvim"]
	path = .local/share/nvim/site/pack/plugins/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/gruvbox"]
	path = .local/share/nvim/site/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".local/share/nvim/site/pack/plugins/start/lazygit"]
	path = .local/share/nvim/site/pack/plugins/start/lazygit
	url = https://github.com/jesseduffield/lazygit.git
[submodule ".local/share/nvim/site/pack/plugins/start/nlua.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/nlua.nvim
	url = https://github.com/tjdevries/nlua.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-treesitter"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".local/share/nvim/site/pack/plugins/start/lazygit.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/lazygit.nvim
	url = https://github.com/kdheepak/lazygit.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/telescope.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/popup.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule ".local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-toggleterm.lua"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-toggleterm.lua
	url = https://github.com/akinsho/nvim-toggleterm.lua.git
[submodule ".local/share/nvim/site/pack/plugins/start/neomux"]
	path = .local/share/nvim/site/pack/plugins/start/neomux
	url = https://github.com/nikvdp/neomux.git
